.mand { color:#f00 !important ;}
.indicator { //border:1px solid #f00 !important;outline:1px solid red;//outline:none}

.form_style { display:block; padding:10px 0 15px 0;}
.form_style input, .form_style textarea { margin:3px 0;padding:2px; vertical-align:top; border-bottom:1px solid #e3e9ef; border-left:1px solid #e2e3ea; border-right:1px solid #e2e3ea; border-top:1px solid #abadb3;}
.form_style textarea { width:300px; vertical-align:top}
.row { padding:0 0 5px 0; position:relative}
.form_style label { width:150px; padding:2px 0 0 0; text-align:right; display:inline-block;}
.form_style .r {display:inline-block; vertical-align:top; width:6px;}
.form_style .row table { display:inline-block; vertical-align:top; //display:inline; //zoom:1}
.form_style .row table td { vertical-align:top; padding:6px 10px 0 0}
.form_style .row table td .update_captcha { text-align:left;margin:0 0 0 5px}
.form_style #image {margin:0 0 0 5px !important;}

.form_style .disabled { border:1px solid #d0d0d0 !important; color:#929292; box-shadow:none}
.form_style .disabled:hover {background:url(pic/but_bg.gif.html) 0 50% repeat-x !important ; cursor:default}
.form_style .t_radio { width:auto !important; margin:0 0 0 3px;}
.top {-moz-display:inline-box;display:inline-block !important;//display:inline;//zoom:1;vertical-align:top;}
.psevdo_but { background:#fff} 
